body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.matrix-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    gap: 2px;
}

.quadrant {
    width: 48%;
    height: 48%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urgent-important {
    background-color: lightblue;
}

.important-not-urgent {
    background-color: lightgoldenrodyellow;
}

.urgent-not-important {
    background-color: lightgrey;
}

.not-urgent-not-important {
    background-color: lightcyan;
}

.add-button {
    position: absolute;
    top: 49%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 1000;
    
}

.popup textarea {
  width: 100%;
  height: 80px;
  padding: 5px;
  border: 1px grey;
  resize: none;}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  animation: popup-show 0.3s ease-in-out forwards;
}
.popup {
  border: 2px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.popup textarea:focus {
  outline: 2px solid #007bff;
}
.popup textarea::placeholder {
  color: #999;
}

@keyframes popup-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes popup-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}
.quadrant-button {
  background-color: transparent; 
  border: none;
  padding: 0; 
  cursor: pointer;
  display: flex; 
  align-items: center;
}.play-button, .cancel-button {
  margin-left: 80px; 
}

.popup button {
  margin-left: 10px;
}


.datetime-picker {
  display: flex;
  margin-top: 10px;
}

.datetime-picker .date-picker {
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.date-picker input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none; /* Hide the date picker icon */
}

.datetime-picker .date-picker i {
  margin-right: 5px;
}